[submodule "XCFrameworks"]
	path = XCFrameworks
	url = git@github.com:sbooth/AudioXCFrameworks.git
[submodule "SFBAudioUtilities"]
	path = SFBAudioUtilities
	url = git@github.com:sbooth/SFBAudioUtilities.git
