name: Xcode - Build and Analyze
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
permissions:
  contents: read
jobs:
  build:
    name: Build and analyze using xcodebuild for all supported architectures
    runs-on: macos-latest
    steps:
      - name: Set Xcode version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install xcpretty
        run:
          gem install xcpretty
      - name: Build for macOS
        run: |
          scheme="SFBAudioEngine"
          destination="generic/platform=macOS"
          xcodebuild clean build analyze -scheme "$scheme" -destination "$destination" | xcpretty && exit ${PIPESTATUS[0]}
      - name: Build for iOS
        run: |
          scheme="SFBAudioEngine"
          destination="generic/platform=iOS"
          xcodebuild clean build analyze -scheme "$scheme" -destination "$destination" | xcpretty && exit ${PIPESTATUS[0]}
      - name: Build for tvOS
        run: |
          scheme="SFBAudioEngine"
          destination="generic/platform=tvOS"
          xcodebuild clean build analyze -scheme "$scheme" -destination "$destination" | xcpretty && exit ${PIPESTATUS[0]}
      - name: Build for Mac Catalyst
        run: |
          scheme="SFBAudioEngine"
          destination="generic/platform=macOS,variant=Mac Catalyst"
          xcodebuild clean build analyze -scheme "$scheme" -destination "$destination" | xcpretty && exit ${PIPESTATUS[0]}
      - name: Build for iOS Simulator
        run: |
          scheme="SFBAudioEngine"
          destination="generic/platform=iOS Simulator"
          xcodebuild clean build analyze -scheme "$scheme" -destination "$destination" | xcpretty && exit ${PIPESTATUS[0]}
      - name: Build for tvOS Simulator
        run: |
          scheme="SFBAudioEngine"
          destination="generic/platform=tvOS Simulator"
          xcodebuild clean build analyze -scheme "$scheme" -destination "$destination" | xcpretty && exit ${PIPESTATUS[0]}
